body {
    background: #4e724e;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}
.content__wrapper{
    width: 100%;
    background-color: beige;
    padding: 50px;
    border-radius: 15px;
}
img{
    display: block;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}
.time__show {
    font-size: 30px;
    margin: 20px;
}
select{
    padding: 10px 8px;
    border: 1px solid #62625b;
    outline: none;

}

button{
    padding: 10px 8px;
    display: block;
    width: 30%;
    margin: auto;
    margin-top: 8px;
    background-color: green;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.reset__alarm{
    display: none;
    background-color: tomato;
}

@media(max-width:767px) {
    .content__wrapper {
        width: 100%;
        padding: 50px 10px;

    }
    button {
        width: 41%;
    }
    img {
        width: 75%;
    }
}

@media(max-width:575px) {
    .container {
        width: 90%;
    }
    .content__wrapper {
        width: 100%;
        padding: 50px 10px;

    }
    button {
        width: 80%;
    }
    select {
        margin-top: 10px;
    }
}